body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 700px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 { font-weight: 400; font-size: 1.2rem; margin: 0; color: #94a3b8; }

.card {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: 0.3s ease;
}

.chart-container {
    height: 200px;
}

.label {
    font-size: 0.7rem;
    color: #94a3b8;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

h2 { margin: 0; font-size: 1.8rem; }

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* Status Colors (Solid) */
.idle { background-color: #475569; }
.low { background-color: #00ff88; color: #000; }
.medium { background-color: #facc15; color: #000; }
.high { background-color: #f97316; color: #fff; }
.critical { background-color: #ef4444; color: #fff; }

#detect-msg {
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}
